.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
  }

.tracker-button{
  background-color: #2d383c;
  padding: 10px;
  border-radius: 8px;
  left: 10%;
  color: #39ace7;
}