.center {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    font-size: x-large;
    scroll-behavior: smooth;

    
  }

.tracker-button{
  background-color: #2d383c;
  padding: 8px 8px;
  border-radius: 8px;
  color: #FFFFFF;
  transition: color 100ms;
  outline: none;
  line-height: 20px;
}

.tracker-button:hover,
.tracker-button:focus {
  background-color: #45565C;
}

.tracker-button-delete{
  background-color: #E02F1F;
  padding: 8px 8px;
  border-radius: 8px;
  color:#3F3431;
  transition: color 100ms;
  outline: none;
  line-height: 20px;
  font-weight: bolder;
  font-size: 15px;
}